* {
   color: dodgerblue;
}

h2 {
   color: rgb(100, 98, 98);
   text-align: center;
}

.btn-primary {
   margin: 100px auto;
   /* margin: 40px; */
   margin-right: 600px;
}

.btn-primary:hover {
   background-color: gray;
   margin-right: 600px;
   border: none;
}