* {
   color: dodgerblue;
}

.text-center {
   margin-top: 55px;

}

a {
   font-size: 2.5rem;
   text-decoration: none;
}

h2 {
   color: rgb(100, 98, 98);
   text-align: center;
}

button.btn.btn-primary:hover {
   background-color: dodgerblue;   
}

a.btn.btn-primary {
   width: 240px;    
}

a.btn.btn-primary:hover {
   background-color: dodgerblue;  
}

ul li {
   color: grey;
   font-size: 28px;
   margin-left: 32px;
}