* {
   color: dodgerblue;
}

.text-center {
   margin-top: 55px;
   
}

strong {
   color: gray;
}

h2 {
   color: rgb(100, 98, 98);
   text-align: center;
}

label.form-label {
   color: gray;
}

a {
   font-size: 2.5rem;
   text-decoration: none;
}

.user-info {
   margin-top: 100px;
}


.user-info a {
   color: dodgerblue;
   background-color: white;
   align-items: center;
}

.user-info .btn-primary {
   display: block;
   margin: 70px auto 0px;
   /* Center horizontally */
}

button.btn.btn-primary:hover {
   background-color: dodgerblue;   
}

a.btn.btn-primary {
   width: 240px;    
}

a.btn.btn-primary:hover {
   background-color: dodgerblue;  
}

li::marker {
   color: rgb(21, 233, 21);
}

ul li {
   color: rgb(58, 148, 58);
   font-size: 1.2rem;
}